*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list {
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}
